
<article id="content" class="module-d">
    <div ng-show="vm.loading && !vm.cases">
        <p class="text-center" translate>Loading...</p>
    </div>

    <div ng-show="vm.emptyCases && !vm.loading" class="text-center">
        <p translate>No user found. </p>
        <a ui-sref="base.createApp" translate>
            Create an user
        </a>
    </div>

    <p class="notice-a success" ca-translate="vm.message" ng-if="vm.message"></p>

    <form action="" method="get" class="form-f form-casesearch" ng-if="vm.cases && !vm.loading && !vm.emptyCases">
        <p class="c">
            <label for="fcsa" class="hidden">Keyword</label>
            <input type="text" id="fcsa" ng-model="key" autocomplete="off" placeholder="Keyword">
        </p>
        <!--p class="c">
            <label for="fcsb" class="hidden">Search Type</label>
            <select id="fcsb" name="searchtype">
                <option value="Name" >Name</option>
                <option value="Email" >Email</option>
                <option value="Case Number" >Case Number</option>
            </select>
        </p-->
        <!-- Set the listType here as well, or we lose the GET variables due to a page reload -->
        <input type="hidden" name="type" value="user">
        <p class="submit"><button type="submit">Search</button></p>
    </form>

    <table class="table-b a" ng-if="vm.users && !vm.loading && !vm.emptyUsers">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="user in vm.users | filter:key"">
        <td>{{user.user_id.split('-')[0]}}</td>
        <td>{{user.given_name}} {{user.family_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.user_status}}</td>
        <td>{{user.user_type}}</td>
        <td><a ui-sref="base.editUser({user_id:user.user_id})">Edit</a> <a ng-click="vm.removeUser(user.user_id)">Remove</a></td>
        </tr>

    </table>
    <!--nav class="pagination-a"><ol><li class="inactive"><a>Prev</a></li><li class="active"><a class="#fakelink">1</a></li><li><a href="?type=user&page=2&orderby=id&order=desc" class='number'>2</a></li><li><a href="?type=user&page=3&orderby=id&order=desc" class='number'>3</a></li><li><a href="?type=user&page=4&orderby=id&order=desc" class='number'>4</a></li><li><a href="?type=user&page=5&orderby=id&order=desc" class='number'>5</a></li><li><span>...</span></li><li><a href="?type=user&page=776&orderby=id&order=desc" class='number'>776</a></li><li><a href="?type=user&page=777&orderby=id&order=desc" class='number'>777</a></li><li class="next"><a href="?type=user&page=2&orderby=id&order=desc">Next</a></li></ol></nav-->

</article>

