<article id="content" class="module-d">

    <div ng-show="vm.loading">
        <p class="text-center" translate>Loading...</p>
    </div>

    <div ng-show="vm.notFound">
        <p class="text-center" translate>Case not found!</p>
    </div>

    <form name="form" ng-submit="vm.save()" role="form" id="assign-case" autocomplete="off" novalidate ng-if="!vm.loading && !vm.notFound">

        <p class="form-h-element notice-a success" ca-translate="vm.message" ng-if="vm.message"></p>

        <!-- Show form here -->

        <h3 translate>Case Assign <span class="float-right">{{vm.actionCaseId}}</span></h3>

        <p class="triple a">

            <span ng-repeat="group in vm.groups">
                <label for="about" translate>{{group.name}}</label>
                <input type="text" ng-model="vm.selected[group.group_id]" uib-typeahead="group.group_id as user.given_name+ ' ' +user.family_name for user in vm.users | filter:$viewValue | limitTo:8" typeahead-on-select="vm.onSelect($item, $model, $label,'test')" class="form-control">
                <span class="list">
                    <span ng-repeat="au in vm.assigned | filter:{group_id:group.group_id}:true">{{au.given_name}}  <span ng-click="vm.deleteUser(au.user_id)">x</span></span>
                </span>
            </span>
        </p>

        <p ca-error="vm.saveError" location="!" class="field-errors"></p>
        <p class="submit">
            <button type="submit" ng-disabled="vm.saving">
                <span ng-show="!vm.saving" translate>Save</span>
                <span ng-show="vm.saving" translate>Saving...</span>

            </button>
            <button type="reset" ng-click="vm.notInterested()" translate>Cancel</button>
        </p>

    </form>

</article>