.profile-page form {
    margin-bottom: 20px;
}
.profile-page h3.off-margin-top {
    margin-top: 0!important;
}
.profile-page form p.notice-a {
    margin-bottom: 20px;
}
.profile-page form .mobile-hide.triple {
    margin-bottom: 0px;
}

.profile-page .notice-a.form-h-element {

}